{
  "version" : "2017-02-28",
  "operation" : "UpdateItem",
  "key" : {
    "collection_id" : { "S" : "${context.arguments.collection_id}" }
  },
  "update" : {
    "expression" : "ADD #ideas :idea",
    "expressionNames": {
      "#progs" : "ideas"
    },
    "expressionValues": {
      ":idea" : {
        "SS": [
          "${context.arguments.idea_id}"
        ]
      }
    }
  }
}