{
  "version" : "2017-02-28",
  "operation" : "PutItem",
  "key" : {
    "idea_id" : { "S" : "$util.autoId()" },
    "created_at" : { "S" : "${context.identity.username}" }
  },
  "attributeValues" : {
    "username": {"S": "${context.identity.username}"},
    "name" : { "S" : "${context.arguments.idea}" },
    "description": { "S" : "${context.arguments.description}" },
    "ideas": {"SS": []}
  }
}